# Question 1

In [1]:
# Consider the following Python module:
a = 0
def b():
    global a #declaring a as global variable for values in function b
    a = c(a)  
    
def c(a):
    return a + 2 ## adding 2 to a
b() #Running b(), first time the a is assigned as value 2
b() #Running b(), second time the a is added with 2 i.e., a + 2 = 2+2 = 4
b() #Running b(), third time, added 4 and 2 together, resulting in 6 as the new value of a
a   #when we called funtion a the latest value contained in a i.e., 6 will be printed as output

6

# Question 2

In [3]:
def file_length(file_name):
    try:
      file = open(file_name)
      contents = file.read()
      file.close()
      print(len(contents))
    except:
      print('File ' + file_name + ' not found.')

file_length('midterm.py')
file_length('idterm.py')

284
File idterm.py not found.

# Question 3

In [4]:
class Marsupial:
    
    def __init__(self):  
        self.q3 = []
        
    def put_in_pouch(self,word):
        'Adds the word into the list'
        self.word = word
        self.q3.append(word)
        
    def pouch_contents(self):
        'Returns the list'
        return self.q3
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [5]:
class Kangaroo(Marsupial):
    
    def __init__(self,xcord,ycord):
        'takes, as input, the coordinates x and y of the Kangaroo'
        Marsupial.__init__(self)
        self.x = xcord
        self.y = ycord
    
    def jump(self,dxcord,dycord):
        'takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the y-axis'
        self.x += dxcord
        self.y += dycord
    
    def __str__(self):
        return 'I am a Kangaroo located at coordinates ({}, {}).'.format(self.x,self.y)

In [6]:
k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0, 0).

In [7]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [8]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3, 0).

# Question 4

In [9]:
def collatz(x):
    if x>0 and type(x)==int:
        if x>1:
            if x%2 == 0:
                print (int(x))
                x = x/2
            else:
                print (int(x))
                x = 3*x + 1
            collatz(int(x))
        
        else:
            print ('1')
    else:
        print ("Error: Enter a positive integer")
collatz(1)

1

In [10]:
collatz(10)

10
5
16
8
4
2
1

# Question 5

In [11]:
def binary(n):
    
    if n>=0:

        if n==0 or n==1:
            print (n)
   
        else:
            mod = n%2
            print (mod, end="")
            n = n//2
            binary(n)
    else:
        print ("Only non-negative integers accepted")

In [12]:
binary(0)
binary(1)
binary(3)

0
1
11

In [13]:
binary(9)

1001

# Question 6

In [14]:
from html.parser import HTMLParser #importing HTMLParser from Html.parser

class HeadingParser(HTMLParser): #creating a class
    
    def __init__(main): #defining main 
        
        HTMLParser.__init__(main )
        main.doc_tag = ""

    def handle_starttag(main, tag, attr): #defing funtion handle_startags that contain main tag and atttribute
        main.doc_tag = tag
    
    
    def handle_data(main, data):
        if(main.doc_tag=='h1'): #if heading is h1
            print(data)
            
        if(main.doc_tag=='h2'): #if heading is h1
            print(" "*2,data)  # using (" " *level) for indentation
            
        if(main.doc_tag=='h3'): #if heading is h1
            print(" "*3,+data)
            
        if(main.doc_tag=='h4'): #if heading is h1
            print(" "*4,+data)
            
        if(main.doc_tag=='h5'):  #if heading is h1          
            print(" "*6,+data)

            
        if(main.doc_tag=='h6'):  #if heading is h1
            print(" "*6,+data)
            
        main.doc_tag = ""

In [15]:
infile = open('w3c.html')
content = infile.read()
hp = HeadingParser()
hp.feed(content)

W3C Mission
   Principles

# Question 7

In [16]:
from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser
class Collector(HTMLParser):
    'collects hyperlink URLs into a list'

    def __init__(self, url):
        'initializes parser, the url, and a list'
        HTMLParser.__init__(self)
        self.url = url
        self.links = []
        self.text= ""

    
    def handle_starttag(self, tag, attrs):
        'collects hyperlink URLs in their absolute format'
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    # construct absolute URL
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': # collect HTTP URLs
                        self.links.append(absolute)
                        
    def getLinks(self):
        'returns hyperlinks URLs in their absolute format'
        return self.links
    
    def handle_data(self, data):
        self.text += data
       # print(self.text)
    def getData(self):
        return self.text
    
url = 'https://reed.cs.depaul.edu/lperkovic/test1.html'
#url = 'http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
resource = urlopen(url)
content = resource.read().decode()
collector = Collector(url)
collector.feed(content)
for link in collector.getLinks():
    print(link)

http://reed.cs.depaul.edu/lperkovic/test2.html
https://reed.cs.depaul.edu/lperkovic/test3.html

# Question 8

In [ ]:
import sqlite3
con = sqlite3.connect('rainfalldataset.db')
cur = con.cursor()
cur.execute("CREATE TABLE annualrain (City, Country, Season, Temperature, Rainfall)")
cur.execute("INSERT INTO annualrain VALUES('Mumbai','India','Winter',24.8,5.9)")
cur.execute("INSERT INTO annualrain VALUES('Mumbai','India','Spring',28.4,16.2)")
cur.execute("INSERT INTO annualrain VALUES('Mumbai','India','Summer',27.9,1549.4)")
cur.execute("INSERT INTO annualrain VALUES('Mumbai','India','Fall',27.6,346.0)")
cur.execute("INSERT INTO annualrain VALUES('London','United Kingdom','Winter',4.2,207.7)")
cur.execute("INSERT INTO annualrain VALUES('London','United Kingdom','Spring',8.3,169.6)")
cur.execute("INSERT INTO annualrain VALUES('London','United Kingdom','Summer',15.7,157.0)")
cur.execute("INSERT INTO annualrain VALUES('London','United Kingdom','Fall',10.4,218.5)")
cur.execute("INSERT INTO annualrain VALUES('Cairo','Egypt','Winter',13.6,16.5)")
cur.execute("INSERT INTO annualrain VALUES('Cairo','Egypt','Spring',20.7,6.5)")
cur.execute("INSERT INTO annualrain VALUES('Cairo','Egypt','Summer',27.7,0.1)")
cur.execute("INSERT INTO annualrain VALUES('Cairo','Egypt','Fall',22.2,4.5)")
con.commit()
con.close()

In [18]:
# a) All the temperature data.

con = sqlite3.connect('rainfalldataset.db')
cur = con.cursor()
cur.execute('SELECT Temperature from annualrain')
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [19]:
# b) All the cities, but without repetition.
con = sqlite3.connect('rainfalldataset.db')
cur = con.cursor()
cur.execute('SELECT distinct(city) from annualrain')
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [20]:
# c) All the records for India.
con = sqlite3.connect('rainfalldataset.db')
cur = con.cursor()
cur.execute('SELECT * from annualrain where country="India"')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [21]:
# d) All the Fall records.
con = sqlite3.connect('rainfalldataset.db')
cur = con.cursor()
cur.execute('SELECT * from annualrain where season="Fall"')
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [22]:
# e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
con = sqlite3.connect('rainfalldataset.db')
cur = con.cursor()
cur.execute('SELECT City , Country, Season from annualrain where rainfall between 200 and 400')
cur.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [23]:
# f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
con = sqlite3.connect('rainfalldataset.db')
cur = con.cursor()
cur.execute('SELECT City , Country from annualrain where Season="Fall" and temperature>20 order by temperature asc')
cur.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [24]:
# g) The total annual rainfall for Cairo.
con = sqlite3.connect('rainfalldataset.db')
cur = con.cursor()
cur.execute('SELECT SUM(Rainfall) from annualrain where City="Cairo"')
cur.fetchall()

[(27.6,)]

In [25]:
# h) The total rainfall for each season.
con = sqlite3.connect('rainfalldataset.db')
cur = con.cursor()
cur.execute('SELECT Season, SUM(Rainfall) from annualrain Group by season')
cur.fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

# Question 9

In [6]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
print([x.upper() for x in words]) 
print([x.lower() for x in words])
print([len(x) for x in words])
print([[x.upper(), x.lower(), len(x)]for x in words])
print([x for x in words if len(x) >= 3])

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']